<div>
  <table width="97%" cellspacing="2" cellpadding="2" border="0" >
    <tr>
      <td class="newstitle"><b><{$category_path}><{$game_title}></br></td>
    </tr>
    
  </table>
</div>
<!--  start game nav -->
<!-- Navigation deaktivated
<!--    delete this line for activating
<p align='center'>
    <{$game_nav}>
</p>
<!-- end game nav -->

  <div align="center"> <b>  <{$flashgames_notloggedin}> </b></div>



<table width="100%" cellspacing="0" cellpadding="10" border="0">
  <tr>
    <td align="center">
    <{include file="db:flashgames_gameformat.html" link=$link}>
    </td>
  </tr>
</table>




<!-- OKA start -->

<{if $gametype <>  "0"}>
<br>
<table align="center" width="70%" class="outer" cellspacing="1">
  <tr>
    <th colspan=4 align="center"><{$lang_halloffame}></th>
  </tr>
  <tr>
    <th align="center"><{$lang_rang}></th>
    <th align="center"><{$lang_name}></th>
    <th align="center"><{$lang_score}></th>
    <th align="center"><{$lang_date}></th>

  </tr>

  <{foreach item=score from=$halloffamescores}>
  <tr class="<{cycle values="even,odd"}>">
    <td align="center"><{$score.rang}></td>
    <td align="center"><{$score.name}></td>
    <td align="center"><{$score.score}></td>
    <td align="center"><{$score.date}></td>

  </tr>
  <{/foreach}>
</table>
<{/if}>
<!-- OKa ende -->



<div style="text-align: center; padding: 3px; margin: 3px;">
  <{$commentsnav}>
  <{$lang_notice}>
</div>

<div style="margin: 3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>

<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>

<div style="text-align: center; padding: 3px; margin: 3px;">
<{$flashgames_footer}>
</div>